#
# Copyright (c) 2023 ModalAI, Inc.
#

[Unit]
Description=voxl-rangefinder-server
SourcePath=/usr/bin/voxl-rangefinder-server

[Service]
User=root
Type=simple
Restart=on-failure
PIDFile=/run/voxl-rangefinder-server.pid
ExecStart=/usr/bin/voxl-rangefinder-server
# allow restarting once per second
RestartSec=1s
StartLimitBurst=10
StartLimitInterval=10s

[Install]
WantedBy=multi-user.target

